@media (min-width: 1281px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        
    }
    body {
        font-family: 'nunito', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 80px;
        grid-template-areas:
        "navBar navBar navBar navBar"
        "body body body body"
        "footer footer footer footer";
    }   
    .navBar{
        grid-area: navBar;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    .navBar > .logo {
        grid-column: 1;
        margin-left: 100px;
        margin-top: 40px;
    }

    .navBar > .logo > p{
        font-size: 36px;
    }

    .navBar > .logo > p > #coloredLogo {
        color: rgba(133, 202, 79, 1);
    }

    .navBar > .links {
        grid-column: 4;
        margin-top: 50px;
        position: relative;
    }

    .navBar > .links > a{
        font-size: 20px;
        text-decoration: none;
        margin-left: 25px;
        color: rgb(20, 20, 20);
        opacity: 0.9;
    }
    .navBar > .links > a:hover {
        opacity: 1;
      }
      
      .navBar > .links > a::before {
        transition: 300ms;
        height: 3px;
        content: "";
        position: absolute;
      }

      .navBar > .links > #home::before {
        background-color: rgba(133, 202, 79, 1);
      }

      .navBar > .links > #apple::before {
        background-color: rgba(211, 20, 27, 1);
      }

      .navBar > .links > #blueberries::before {
        background-color: rgba(65, 92, 206, 1);
      }

      .navBar > .links > #grape::before {
        background-color: rgba(66, 61, 114, 1);
      }

      .navBar > .links > #orange::before {
        background-color: rgba(255, 132, 0, 1);
      }

      .navBar > .links > #peach::before {
        background-color: rgba(229, 141, 81, 1);
      }

      .navBar > .links > #pear::before {
        background-color: rgba(162, 193, 75, 1);
      }
      
      .navBar > .links > a::before {
        width: 0%;
        bottom: 1px;
      }
      
      .navBar > .links > #home:hover::before {
        width: 7%;
      }

      .navBar > .links > #apple:hover::before {
        width: 6.6%;
      }

      .navBar > .links > #blueberries:hover::before {
        width: 13%;
      }

      .navBar > .links > #grape:hover::before {
        width: 7%;
      }

      .navBar > .links > #orange:hover::before {
        width: 9%;
      }

      .navBar > .links > #peach:hover::before {
        width: 7.5%;
      }

      .navBar > .links > #pear:hover::before {
        width: 5.7%;
      }
    .navBar > .links > #home{
        margin-left: 60px;
    }

    .body {
        grid-area: body;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .body > .text{
        grid-column: 1;
        margin-top: 80px;
        margin-left: 100px;
    }

    .body .text >  h1 {
        font-size: 40px;
        color: rgba(133, 202, 79, 1);
    }
    .body .text >  p {
        font-size: 28px;
        padding-top: 10px;
    }

    #pOne {
        padding-top: 30px;
    }

    .body .text > .buttonSite {
        margin-top: 60px;
    }

    .body .text > .buttonSite > .button {
        background-color: rgba(133, 202, 79, 1);
        color: rgb(236,236,236);
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        text-decoration: none;
    }

    .body .text > .buttonSite > .button:hover{
        background-color: rgb(116, 190, 60);
        cursor: pointer;
    }

    .body > .image{
        grid-column: 2;
        margin-top: 100px;
        margin-left: 100px;
    }
}