.navBar > .logo > p > #coloredLogo {
    color: rgba(211, 20, 27, 1);
}

.body .text >  h1 {
    color: rgba(211, 20, 27, 1);
}

.body .text > .paragraph > p {
    font-size: 28px;
    padding-top: 10px;
}

.body .text > .paragraph > #pTwo {
    font-size: 20px;
}

.body .text > .paragraph > #pThree {
    font-size: 20px;
}

.body .text > .buttonSite > .button {
    background-color: rgba(211, 20, 27, 1);
}

.body .text > .buttonSite > .button:hover{
    background-color: rgb(182, 24, 29);
}



.body .table {
    grid-column: 1;
    
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 400px;
}

table thead th {
    background-color: rgba(211, 20, 27, 1);
    opacity: 1;
    color: rgb(255, 255, 255);
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid rgb(255, 255, 255);
}

table tbody tr:nth-of-type(even) {
    background-color: rgb(255, 255, 255);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(211, 20, 27, 1);
}

table tbody tr.active-row {
    font-weight: bold;
    color: rgba(211, 20, 27, 1);
}
