.navBar > .logo > p > #coloredLogo {
    color: rgba(66, 61, 114, 1);
}

.body .text >  h1 {
    color: rgba(66, 61, 114, 1);
}

.body .text > #pTwo {
    font-size: 20px;
}

.body .text > #pThree {
    font-size: 20px;
}

.body .text > .buttonSite > .button {
    background-color: rgba(66, 61, 114, 1);
}

.body .text > .buttonSite > .button:hover{
    background-color: rgb(42, 37, 94);
}